body, html {
    margin: 0px;
    padding: 0px;
    background-color: #171717;
    font-family: 'Trebuchet MS';
	color: #F8F8F2;
}

.Container {
    width: 99%;
    min-width: 500px;
    margin: auto;
}

header {
    width: calc(100% - 20px);
    height: 80px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
    line-height: 30px;
    background-color: #272727;
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;

}

    header span {
        color: #fff;
        font-size: 50px;
        padding-left: 0px;
		padding-bottom: 0px;
    }

nav {
    width: 100%;
    height: 8px;
    background-color: #00441c;
}

.content {
    width: 100%;
    height: 700px;
    padding: 10px 0px;
    background-color: #282A36;
}

footer {
    width: 100%;
    height: 80px;
    background-color: #313131;
    margin-bottom: 20px;
}

.main_articles {
    width: calc(100% - 6px);
    float: left;
    height: 650px;
    margin-left: 00px;
	margin-right: 00px;
}


.siteDescription {
    width: 100%;
    height: 200px;
}

.desImage {
    width: 204px;
    height: 204px;
	margin-left: 15px;
}

    .desImage img {
        width: 200px;
        height: 200px;
        border: 2px solid #6d6d6d;
    }

.des {
    margin-left: 15px;
    width: 80%;
    height: 200px;
    background-color: #282A36;
    padding: 5px;
}